.aircraft-carrier-dragged {
  width: 250px;
  height: 40px;
  background-color: brown;
  opacity: 0.5;
  cursor: pointer;

  border-radius: 50px;
}

.battleship-dragged {
  width: 200px;
  height: 40px;
  background-color: brown;
  opacity: 0.5;
  cursor: pointer;

  border-radius: 50px;

}

.cruiser-dragged {
  width: 150px;
  height: 40px;
  background-color: brown;
  opacity: 0.5;
  cursor: pointer;

  border-radius: 50px;

}

.submarine-dragged {
  width: 150px;
  height: 40px;
  background-color: brown;
  opacity: 0.5;
  cursor: pointer;

  border-radius: 50px;

}

.destroyer-dragged {
  width: 100px;
  height: 40px;
  background-color: brown;
  opacity: 0.5;
  cursor: pointer;

  border-radius: 50px;
}