.placement-window {
  width: 100%;
  height: 100%;
  background-image: url("images/us-fleet-wallpaper.jpg");
  background-size: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

#board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.ready-button {
  width: 50px;
  height: 30px;
  padding: 30px;
  background-color: cadetblue;
  font-size: large;
  cursor: pointer;

  position: absolute;
  right: 20%;
  bottom: 0;
  margin: 50px;
}

.unplaced-ships-container {
  background-color: black;
  color: white;
}

.ready-button:hover {
  background-color: rgb(69, 96, 97);
}