.no-ship {
  background-color: blue;
  width: 40px;
  height: 40px;
  border: 3px solid black;
}

.yes-ship {
  background-color: red;
  width: 40px;
  height: 40px;
  border: 3px solid black;
}

#board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.no-ship-selected {
  background-color: rgb(31, 31, 150);
  width: 40px;
  height: 40px;
  border: 3px solid black;
}